<template name="layout">
  {{#ionBody class="inner"}}
    {{#ionNavView}}
      {{> yield}}
    {{/ionNavView}}
  {{/ionBody}}
</template>
<template name="layoutInner">
  {{#ionBody}}
  	{{> ionNavBar class="inner-page"}}
    {{#ionNavView}}
        {{#ionView}}
          {{#ionContent class="inner-page"}}
              {{> yield}}
          {{/ionContent}}
        {{/ionView}}
    {{/ionNavView}}
  {{/ionBody}}
</template>
<template name="layout-pages">
  {{#ionBody}}

    {{#ionSideMenuContainer side="left"}}
      {{#ionSideMenu expose-aside-when="large"}}
          <div class="bar bar-header bar-dark">
            <h1 class="title">Piyush</h1>
          </div>
          {{#ionContent class="pages"}}
            <ul class="sidemenus">
            	<li><a href="/dashboard">Home</a></li>
            	<li><a href="/category">Electronics</a>
                	<ul>
                    	<li><a href="/category">Mobiles</a></li>
                    	<li><a href="/category">Mobile Accessories</a></li>
                    	<li><a href="/category">Tvs &amp; Large Appliances</a></li>
                    	<li><a href="/category">IT Accessories</a></li>
                    	<li><a href="/category">Mobiles</a></li>
                    	<li><a href="/category">Mobiles</a></li>
                    	<li><a href="/category">Mobile Accessories</a></li>
                    	<li><a href="/category">Tvs &amp; Large Appliances</a></li>
                    	<li><a href="/category">IT Accessories</a></li>
                    	<li><a href="/category">Mobiles</a></li>
                    </ul>
                </li>
            	<li><a href="/category">Mens</a>
                	<ul>
                    	<li><a href="/category">Clothing</a></li>
                    	<li><a href="/category">Footwear</a></li>
                    	<li><a href="/category">Watches</a></li>
                    	<li><a href="/category">Eyewear</a></li>
                    	<li><a href="/category">Spectacles</a></li>
                    	<li><a href="/category">Perfumes</a></li>
                    </ul>
                </li>
            	<li><a href="/category">Womens</a>
                	<ul>
                    	<li><a href="/category">Clothing</a></li>
                    	<li><a href="/category">Footwear</a></li>
                    	<li><a href="/category">Watches</a></li>
                    	<li><a href="/category">Eyewear</a></li>
                    	<li><a href="/category">Spectacles</a></li>
                    	<li><a href="/category">Perfumes</a></li>
                    </ul>
                </li>
            </ul>
          {{/ionContent}}
        {{/ionSideMenu}}
      {{#ionSideMenuContent}}
        {{> ionNavBar class="inner-page"}}
        {{#ionNavView}}
            {{#ionView}}
              {{#ionContent class="pages"}}
                  {{> yield}}
              {{/ionContent}}
            {{/ionView}}
        {{/ionNavView}}
      {{/ionSideMenuContent}}      
    {{/ionSideMenuContainer}}    
  {{/ionBody}}
</template>
