html, body{width:100%; height:100%;}
img{max-width:100%;}
.login{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2a788f+0,2d3246+84,2d3246+100 */
background: #2a788f; /* Old browsers */
background: -moz-linear-gradient(top,  #2a788f 0%, #2d3246 84%, #2d3246 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #2a788f 0%,#2d3246 84%,#2d3246 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #2a788f 0%,#2d3246 84%,#2d3246 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a788f', endColorstr='#2d3246',GradientType=0 ); /* IE6-9 */
}
.login-wrap{top:50%; left:50%; text-align:center; max-width:300px; color:#fff; height:360px; position:absolute; margin-top:-180px; margin-left:-150px; width:100%;}
.register{color:#fff;}
.register input, .login-wrap input{padding:6px 16px 5px; line-height:31px; height:auto; color:#fff;}
.register button, .register label, .login-wrap label, .login-wrap button{ border:0; text-align:center;}
.register label, .login-wrap label{margin-top:20px; padding:0; background:rgba(255, 255, 255, 0); border-bottom:1px solid rgba(255,255,255,0.5);}
.register button, .login-wrap .login-button{display:block; width:100%; margin-bottom:20px; border-radius:15px; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6acce7+0,70d297+61,70d297+100 */
background: #6acce7; /* Old browsers */
background: -moz-linear-gradient(45deg,  #6acce7 0%, #70d297 61%, #70d297 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #6acce7 0%,#70d297 61%,#70d297 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #6acce7 0%,#70d297 61%,#70d297 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6acce7', endColorstr='#70d297',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ color:#fff;}
.register a, .login-wrap a{display:inline-block; color:#fff; text-decoration:none; padding:0 8px;}

.content.inner-page{background:#2d3246;}
.bar.inner-page{border-color:#70d297;background:#70d297;}
.bar.inner-page .button.back-button{color:#fff;}
h1.title{color:#fff; transition-duration: 450ms; transition-property: opacity, transform; transition-timing-function: cubic-bezier(0.3, 0.9, 0.4, 1);}
.register{text-align:center; max-width:300px; width:100%; margin:0 auto;}
.pages{background:#fff;}
.bar-header.inner-page .right-buttons{position:absolute; right:0; top:3px;}
.bar-header.inner-page a.button.button-icon:before{font-size:25px; line-height:37px;}
.bar-header.inner-page a.button.button-icon{position:relative; color:#fff; position:relative;}
.bar-header.inner-page a.button.button-icon > span{position:absolute; min-width:20px; height:20px; text-align:center; background:#eeb919; color:#fff; line-height:16px; padding:2px; font-size:12px; border-radius:50%; top:1px; right:0;}
.bar-header.inner-page .button-clear.button-clear{color:#fff;}
.bar .title{text-align:left;}
.slider-pager{display:none !important;}
.menu-content.snap-content{width:100%; overflow:hidden;}

#carousel{border:1px solid black; width:200px; position:relative; top:100px; left:100px;}
#carousel div{width:200px;}
.slick-prev:before, .slick-next:before{color:silver;}

.restpage{width:100%; float:left;}
.restpage .interests img{width:100%;}
.slick-slider{margin-bottom:0;}
h2{display:block; clear:both; font-size:18px; width:100%; padding:0 5px; margin-top:0;}
h2 a{float:right; font-size:15px;}
.popover:before{content:""; border-left:10px solid transparent; border-right:10px solid transparent; border-bottom:10px solid #fff; position:absolute; top:-10px; right:0px;}
.popover{height:auto; width:200px;}
.popover a{font-size:12px; padding:12px 12px 12px 54px;}
.popover  .item-icon-left .icon::before, .popover  .item-icon-right .icon::before{font-size:20px;}
.menu-left{background:#70d297; overflow-y:hidden;}
.menu-left:hover .content{overflow:auto;}
.menu-left .content{background:rgba(0,0,0,0); overflow:hidden;}
.menu-left .bar-header{background:rgba(255,255,255,0.3); color:#fff; border-bottom:0;}
ul.sidemenus{width:100%; float:left;}
ul.sidemenus li{display:block;}
ul.sidemenus li a{display:block; padding:8px; color:#fff; text-decoration:none; border-bottom:1px solid #79dba0;}
ul.sidemenus li ul a{padding:8px 8px 8px 25px;}

.products{width:100%; float:left;}

.product-div{width:25%; float:left; padding:5px;}
.imgdiv{position:relative; width:100%; height:auto; float:left; position:relative;}
.imgdiv img{display:block; margin:0 auto;}
.imgdiv:hover{cursor:pointer;}
.imgdiv:hover > .product-details{opacity:1;}
.product-details{position:absolute; width:100%; height:100%; z-index:1; left:0; top:0; background:rgba(0,0,0,0.6); opacity:0; transition:all ease 0.5s;}
.product-details .view-detail{width:35px; height:35px; position:absolute; top:10px; line-height:35px; text-align:center; color:#fff; right:10px; border:1px solid #fff; border-radius:50%;}
.product-details .prodetails{position:absolute; bottom:10px; left:2px;}
.product-details .options{position:absolute; top:50%; margin-top:-20px; width:100%; text-align:center;}
.product-details .options a{display:inline-block; width:40px; margin:0 25px; border-radius:50%; height:40px; text-align:center; line-height:40px; color:#fff;}
.product-details .options .add-cart{background:#6ec580;}
.product-details .options .add-wishlist{background:#ff6b4b;}
.product-details .options .add-share{background:#8766ab;}
.product-details .prodetails > div{width:49%; display:inline-block; color:#fff; vertical-align:bottom;}
.product-details .prodetails .name label{display:block; margin:0;}
.product-details .prodetails .rates{text-align:right; font-size:24px; font-weight:bold;}
.product-details .prodetails .rates .old-rate{text-decoration:line-through; font-size:16px; color:#a2a2a2; font-weight:normal;}
.product-details .prodetails .rates .currency{font-size:13px; text-transform:uppercase;}

.pages.cart{padding:0 5px;}
.pages.cart .list .item img{border-radius:0; max-width:inherit; max-height:86px; width:80px; height:auto;}
.pages.cart .list .item{padding-left:112px; min-height:112px; background:#fafafa; margin-top:5px;}
.pages.cart .list .item h2{position:relative; padding-left:0;}
.pages.cart .list .item h2 > span{position:absolute; right:0; top:0;}
.pages.cart .list .item p label{display:block; padding-top:10px;}
.pages.cart .list .item p label input{border:1px solid #ddd; background:rgba(255,255,255,0.5); padding:0 5px; width:50px;}
.pages.cart .list .item button{height:100%; top:0; right:0; width:65px; background:#70d297; border:0; border-radius:0;}

.shipping{width:100%; margin-top:15px; padding:5px 15px; border:1px solid #ddd; background:#fafafa; margin-bottom:15px;}
.shipping label{display:block; padding:10px 0; line-height:30px;}
.shipping label > span{float:right;}
.shipping .shipping-charges{border-bottom:1px dashed #ddd;}
.shipping .shipping-charges > span{background:#70d297; padding:5px; color:#fff; text-transform:uppercase; display:inline-block; line-height:20px;}
.shipping .order > span{color:#f6846a; font-size:18px;}
.shipping .order > span > span{color:#f6846a; font-size:14px;}
.pages.cart .checkout-btn{background:#38464f; border:1px solid #1e2c35; text-transform:uppercase; width:100%; color:#fff;}

.nav-bar-transition-ios.nav-bar-direction-forward .title-entering.title-stage{opacity:0; transform:translate3d(98%, 0px, 0px);}
.nav-bar-transition-ios.nav-bar-direction-forward .title-entering.title-active{opacity:1; transform:translate3d(0px, 0px, 0px);}
.nav-bar-transition-ios .title, .nav-bar-transition-ios .button, .nav-bar-transition-ios .back-text{transition-duration:1s; transition-property:opacity, transform; transition-timing-function:cubic-bezier(0.3, 0.9, 0.4, 1);}

.searchbox{width:100%; height:100%; position:absolute; top:0; left:0; padding:5px; z-index:9; display:none;}
.searchbox input{width:100%; height:100%; padding:5px; box-sizing:border-box; padding-right:25px;}
.close-search{position:absolute; z-index:1; right:5px; color:#555; height:20px; width:30px; text-align:center; line-height:20px; margin-top:-10px; top:50%;}
.searchkeywords a span:hover, .close-search:hover{cursor:pointer;}
.noscroll{overflow-y:hidden;}

.searchkeywords{width:100%; padding:15px 10px; text-align:center; background:#eee}
.searchkeywords a{padding:5px 8px; line-height:14px; box-shadow:0 1px 2px rgba(0, 0, 0, 0.2); display:inline-block; border-radius:10px; margin:0 5px; color:#777; text-align:center; background:#fff; position:relative;}
.searchkeywords a span{position:absolute; top:-5px; right:-5px; width:10px; height:10px; text-align:center; font-size:8px; line-height:10px; background:#333; color:#fff; border-radius:50%; z-index:1;}

.searchitems{width:100%; overflow:auto;}
.searchkeywords.productpage a{padding:15px 25px; text-decoration:none; border-radius:0; display:inline-block; margin:0 15px; background:#38464f; color:#fff; text-transform:uppercase;}
.searchkeywords.productpage a:first-child{background:#f6846a;}
.searchitems.productpage{padding:5px;}

.searchitems.productpage .imgdiv{width:100%; float:left;}
.searchitems.productpage .imgdiv label{display:block; padding:10px 0;}

.searchitems.productpage{} 


@media all and (max-width:767px)
{
	.pages.cart .list .item img{border-radius:0; max-width:inherit; max-height:inherit; width:40px; height:auto;}
	.pages.cart .list .item{padding-left:72px; min-height:72px;}
	.product-div{width:50%;}
	.product-details .options a{margin:0 5px;}
	.product-details .prodetails .rates .old-rate{font-size:10px;}
	.product-details .prodetails .rates{float:right; font-size:12px;}
	.product-details .prodetails > .name{overflow:hidden; text-overflow:ellipsis; white-space:nowrap; width:49%;}
	.product-details .prodetails > .name label{overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
	.product-details .prodetails .rates .currency{font-size:8px;}
	.searchkeywords.productpage a{padding:15px 0; width:48%; text-align:center; margin:0 2px;}
}
@media all and (max-width:350px)
{
	.product-div{width:100%;}
}

